VITE_BACKEND_URL=http://localhost:3001
VITE_CONTRACT_ADDRESS=0xYourMainnetContract
VITE_CHAIN_ID=1
VITE_CHAIN_NAME=Ethereum Mainnet
VITE_EXPLORER_TX_URL=https://etherscan.io/tx/
VITE_MARKETPLACE_URL=
